<!-- /project_dir/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/main.css">
    <meta name="robots" content="noindex,nofollow"/>
    <title>virtual chat</title>
</head>
<body>        
    <input id="test" type="button" value="Click to test" onclick="test()"/>
    <div id="response">false</div>
    <div id="push">000000</div>
<div class="demo">
    <h1>virtual chat</h1>
 
    <div class="chat">
        <div class="messages" id="messages"></div>
 
        <div class="panel">
            <span class="nick"></span>
            <input type="text" name="message_text" id="message_text">
            <button type="button" id="message_btn">Send</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script type="text/javascript"> 
function test(){
    var e = document.getElementById("push");
    var text = e.textContent || e.innerText;
    switch(text){
        case '000000': text = '111111'; break;
        case '111111': text = '000000'; break;
    }
    e.innerHTML = text;
    let status = 1;
    let myToken = JSON.stringify({status : status})
    let request = new XMLHttpRequest();
    request.open("POST", "/test", true);   
    request.setRequestHeader("Content-Type", "application/json");
    request.addEventListener("load", function () {
    if(request.status < 400){
        document.getElementById("response").innerHTML = '///////////// true //////////////';        
    }
    if(request.status >= 400){
        document.getElementById("response").innerHTML = "error";
        
    }
    });
    request.send(myToken);
}

 // javascript code
 $(document).ready(function () {
        // var socket = io();
        var name = 'User_' + (Math.round(Math.random() * 10000));
        var messages = $("#messages");
        var message_txt = $("#message_text")
        var socketId;
        $('.chat .nick').text(name);

        var ws = new WebSocket('ws://localhost:3000/ ');
     //var ws = new WebSocket('ws://damp-tundra-61257.herokuapp.com/ ');
     $("#message_btn").click(function () {
            var text = $("#message_text").val();
            if (text.length <= 0)
                return;
            message_txt.val("");
            ws.send(JSON.stringify({message: text, name: name}));
        });

        ws.onmessage = (msg) => {
            var message = JSON.parse(msg.data);
            msg1(message.name,  message.message);
            message_txt.focus();
        }

        function msg1(nick, message) {
            var m = '<div class="msg">' +
                    '<span class="user">' + safe(nick) + ':</span> '
                    + safe(message) + '</br>'// + id
                    '</div>';
            messages
                    .append(m)
                    .scrollTop(messages[0].scrollHeight);
        }
 
        function msg_system(message) {
            var m = '<div class="msg system">' + safe(message) + '</div>';
            messages
                    .append(m)
                    .scrollTop(messages[0].scrollHeight);
        }
 
        function safe(str) {
            return str.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;');
        }
    });
</script>
</body>
</html>